*{
    font-family: "Microsoft YaHei",san-serif;
    margin: 0;
    padding:0;
}

body{
    background-color: #e2e2e2;
    min-width: 980px;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}

#header{
    width: 100%;
    height: 80px;
    background-color: #522A5C;
    position: relative;
}

#header .nav{
    width: 980px;
    height: 80px;
    margin: 0 auto;
    position: relative;
}
#header .nav h1{
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 5px;
    
}
#header .nav ul {
    font-family:"宋体" san-serif;
    font-size: 14px;
    float: right;
    list-style: none;
    color: #fff;
    word-spacing: 28px;
    position: absolute;
    right: 0;
    bottom: 5px;
}

#header .nav ul li{
    display: inline;

}

#header img{
    position: absolute;
    right: 10px;
    bottom: 0;
}

#content{
    margin: 20px auto 0;
    width: 980px;
}

.leftpart{
    float: left;
    margin-right:10px;
    width: 710px;
}

.blog-text{
    background: #fff none repeat scroll 0 0;
    margin-bottom:10px;
    padding: 20px;
    position: relative;
}

.blog-text h1{
    color: #47456d;
    font-size: 16px;
    margin-bottom: 10px;
}

.blog-text h2{
    color: #666;
    font-size: 12px;
    margin-bottom: 20px;
}

.blog-text p{
    font-size: 12px;
    margin-bottom: 30px;
}

.blog-text section{
    color: #888;
    font-size: 10px;
    text-align: right;
}

.tag{
    background: #fff none repeat scroll 0 0;
    font-size: 14px;
    left:-60px;
    position: absolute;
    top: 20px;
    width: 60px;
}

.tag-data{
    background: #47456d none repeat scroll 0 0;
    color: #fff;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.tag-type{
    background: #a660b7 none repeat scroll 0 0;
    color: #fff;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.last{
    margin: 0 auto 100px;
    width: 550px;
}

.number{
    background: #fff none repeat scroll 0 0 ;
    float: left;
    font-size: 12px;
    margin: 0 5px;
    padding: 12px 15px;
    text-align: center;
}

.number a{
    color: #000;
    text-decoration: none;
}

.number-invalid{
    color:#000;
}

.number-now{
    background: #a660b7 none repeat scroll 0 0;
    color: #fff;
}


.side-form{
    background: #fff none repeat scroll 0 0 ;
    float: right;
    margin-bottom: 10px;
    width: 260px;
}

.search{
    border: 1px solid #e2e2e2;
    font-size: 0;
    height: 40px;
    margin: 20px;
    position: relative;
}

.search:hover{
    border: 1px solid #47456d;
}

.keyword{
    background-image:url("../img/search.png");
    background-repeat: no-repeat;
    background-size: 144px auto;
    border: medium none;
    height: 40px;
    outline: medium none;
    position: absolute;
    top: 0;
    width: 170px;
}

.keyword:focus {
    background-image: none;
}
.submit {
    background: #e2e2e2 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 18px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
}
.submit:hover {
    background: #47456d none repeat scroll 0 0;
}


.side-type a{
    text-decoration: none;
}

.post-type{
    border-color: #92c0ef;
    border-style: solid;
    border-width: 0 0 1px 5px;
    color: #888;
    font-size: 14px;
    line-height: 50px;
    padding-left: 20px;
}

.post-type:hover {
    border-left-color: #47456d;
    color: #000;
}


.calendar{
    border-collapse: collapse;
    color: #888;
    font-size: 12px;
    height: 220px;
    margin: 20px;
    text-align: center;
    width: 220px;
}


.calendar tr {
    border-bottom: 1px solid #92c0ef;
}
.calendar-dark {
    color: #47456d;
    font-weight: bold;
}
.calendar-now {
    background: #47456d none repeat scroll 0 0;
    color: #fff;
}


.side-tag{
    box-sizing: border-box;
    margin-bottom: 100px;
    padding: 15px;
}

.tag-title{
    color: #888;
    font-size: 12px;
    margin-bottom: 20px;
}

.tag-item{
    color: #47456d;
    font-size: 12px;
}

.tag-more{
    font-size: 30px;
}

.tag-less{
    font-size: 20px;
}