*{
	font-family: "Microsoft YaHei",san-serif;
	margin: 0;
	padding:0;
}

body{
	background-color: #e2e2e2;
	min-width: 980px;
}

.wrapper{
	width: 100%;
	margin: 0 auto;
}

#header{
	width: 100%;
	height: 80px;
	background-color: #522A5C;
	position: relative;
}

#header .nav{
	width: 980px;
	height: 80px;
	margin: 0 auto;
	position: relative;
}
#header .nav h1{
	color: #fff;
	position: absolute;
	left: 0;
	bottom: 5px;
	
}
#header .nav ul {
	font-family:"宋体" san-serif;
	font-size: 14px;
	float: right;
	list-style: none;
	color: #fff;
	word-spacing: 28px;
	position: absolute;
	right: 0;
	bottom: 5px;
}

#header .nav ul li{
	display: inline;

}

#header img{
	position: absolute;
	right: 10px;
	bottom: 0;
}





#content{
	margin: 70px auto 0;
	width: 980px;
}

.leftpart{
	background: #fff none repeat scroll 0 0;
	box-sizing: border-box;
	float: left;
	margin-bottom: 100px;
	padding: 20px;
	position: relative;
	width: 710px;
}

.item img{
	width: 160px;
}

.item li{
	font-size: 0;
	margin: 0 10px 10px 0;
	width: 160px;
}

.item-text{
	padding: 10px 10px 10px 48px;
	position: relative;
	background: #522a5c none repeat scroll 0 0;
}

.tab-ab{
	border: 1px solid #fff;
	border-radius: 50%;
	color: #fff;
	float: left;
	font-size: 14px;
	height: 28px;
	left: 10px;
	line-height: 28px;
	margin-right: 10px;
	position: absolute;
	text-align: center;
	top: 10px;
	width: 28px;
}


.item-text h1{
	color: #fff;
	font-size: 16px;
}

.item-text p{
	color: #fff;
	font-size: 12px;
}
.item ul{
	float: left;
}





.tab{
	font-size: 14px;
	left: 0;
	line-height: 46px;
	position: absolute;
	text-align: center;
	top: -51px;

}

.tab-item{
	background: #fff none repeat scroll 0 0 ;
	float: left;
	margin: 0 1px 1px 0;
	padding:0 20px;
	text-decoration: none;
}

.tab-all{
	border-top: 4px solid #92c0ef;
}

.tab-all:hover {
    border-top: 4px solid #47456d;
}
.tab-js {
    border-top: 4px solid #dfc6e6;
}
.tab-js:hover {
    border-top: 4px solid #522a5c;
}
.tab-ui {
    border-top: 4px solid #d2a6ff;
}
.tab-ui:hover {
    border-top: 4px solid #5900b2;
}
.tab-fra {
    border-top: 4px solid #ffa98c;
}
.tab-fra:hover {
    border-top: 4px solid #8c2300;
}
.tab-app {
    border-top: 4px solid #ffe188;
}
.tab-app:hover {
    border-top: 4px solid #d9a300;
}

.more{
	background: #fff none repeat scroll 0 0;
	bottom: -50px;
	font-size: 12px;
	height: 40px;
	left: 0;
	line-height: 40px;
	position: absolute;
	text-align: center;
	width: 710px;
}




.side-search{
	background: #fff none repeat scroll 0 0;
	float: left;
	margin-bottom:10px;
	width: 260px;
	margin-left: 10px;
}

.search{
	border: 1px solid #e2e2e2;
	font-size: 0;
	height: 40px;
	margin: 20px;
	position: relative;
}

.search:hover{
	border: 1px solid #47456d;
}

.keyword {
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-size: 144px auto;
    border: medium none;
    height: 40px;
    outline: medium none;
    position: absolute;
    top: 0;
    width: 170px;
}
.keyword:focus {
    background-image: none;
}
.submit {
    background: #e2e2e2 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 18px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
}
.submit:hover {
    background: #47456d none repeat scroll 0 0;
}


.side-ranking{
	box-sizing: border-box;
	margin-bottom: 100px;
	padding: 15px;
	background: #fff none repeat scroll 0 0;
	float: left;
	width: 260px;
	margin-left: 10px;
}
.ranking-num {
    background: #47456d none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    margin-right: 10px;
    text-align: center;
    width: 16px;
}
.ranking-bar-wrap {
    border: 1px solid #47456d;
    display: inline-block;
    height: 20px;
    margin-right: 5px;
    position: relative;
    top: 6px;
    width: 100px;
}
.ranking-bar {
    background: #47456d none repeat scroll 0 0;
    height: 20px;
}